.container-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.container-details app-header,
.container-details app-footer {
    width: 100%;
}

.city-details {
    padding: 20px;
    border-radius: 8px;
    font-family: var(--Quicksand-font);
    color: var(--grey-color);
}

.city-details h2 {
    font-family: var(--Anton-font);
    color: var(--main-color);
    margin-bottom: 10px;
    font-weight: 400;
}

.city-details p {
    margin: 8px 0;
}

.city-details .label {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .city-details {
        padding: 10px;
    }

    .city-details h2 {
        font-size: 1.5rem;
    }
}