footer {
  /* position: relative; */
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

main {
  padding-top: 100rem;
  flex: 1;
}

footer p {
  background-color: var(--main-color);
  color: var(--white-color);
  text-align: center;
  padding: 1rem;
  font-family: var(--Quicksand-font);
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  footer p {
    font-size: 0.8rem;
  }
}