<div class="container-home">
    <app-header></app-header>
    <main class="app-home">
        <section class="section-title-home">
            <h1 class="title-home">Seja bem-vindo ao SaúdeAI</h1>
            <span class="subtitle-home">Encontre informações sobre saúde e bem-estar</span>
        </section>
        <section class="section-content-home">
            <h2 class="content-title">Sobre Nós</h2>
            <p class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim.
                Vivamus vehicula, urna eu facilisis fermentum, sapien justo cursus libero, non
                tincidunt arcu felis a nulla. Sed at risus nec leo ultricies tincidunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas tempore id quis, voluptatibus quaerat
                delectus. Dolorum in, itaque, voluptatem impedit quo corrupti consectetur animi, quas commodi porro
                quasi similique perferendis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores recusandae alias omnis
                excepturi, quisquam laudantium fugiat qui veniam minus suscipit tenetur quae consectetur iste eius.
                Aperiam officia esse odit?
            </p>
        </section>
        <section class="section-search-home">
            <h2 class="search-title">Busque informações de saúde</h2>
            <app-search></app-search>
        </section>
        <section class="">

        </section>
    </main>
    <app-footer></app-footer>
</div>