.container-home {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
}

.app-home {
    background-color: var(--white-color);
}

.section-title-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-home {
    text-align: center;
    font-family: var(--Quicksand-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--grey-color);
    margin: 1rem 0 .4rem;
}

.subtitle-home {
    font-family: var(--Quicksand-font);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--grey-color);
    margin-bottom: 2rem;
}

.section-content-home {
    padding: 1rem 3rem;
    background-color: var(--light-grey-color);
    border-radius: 8px;
}

.content-title {
    font-family: var(--Quicksand-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-grey-color);
    margin-bottom: 1rem;
}

.content-text {
    font-family: var(--Quicksand-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-color);
    line-height: 1.6;
}

.section-search-home {
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 8px;
}

.search-title {
    font-family: var(--Quicksand-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-grey-color);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .section-content-home {
        padding: 1rem;
    }
    .title-home {
        font-size: 1.5rem;
    }
    .subtitle-home {
        font-size: 1rem;
    }
}
