<div class="container-header">
<header class="app-header">
    <img src="/assets/images/logo.svg" alt="Logo" class="header-logo">
    <button class="menu-toggle" (click)="toggleMenu()">
        <span class="menu-hamburger closed" *ngIf="!isMenuOpen">&#9776;</span>
        <span class="menu-hamburger open" *ngIf="isMenuOpen">&times;</span>
    </button>
    <nav class="app-nav" [class.open]="isMenuOpen">
        <ul>
            <li *ngIf="!isHomePage" class="header-links"><a href="/" (click)="closeMenu()">Início</a></li>
            <li class="header-links"><a href="/noticias" (click)="closeMenu()">Notícias</a></li>
            <li class="header-links"><a href="/login" (click)="navigateTo('/login')">Entrar</a></li>
        </ul>
    </nav>
</header>
</div>