.container-header {
  background-color: var(--main-color);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1097px;
  margin-left: auto;
  margin-right: auto;
}

.app-nav {
  display: flex;
  align-items: center;
}

.app-nav ul {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.header-links a {
  background: none;
  border: none;
  font-family: var(--Quicksand-font);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
}

.header-links a:hover {
  background-color: var(--white-color);
  color: var(--header-link-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}
