<app-header></app-header>
<div class="auth-component">
  <div class="auth-form">
    <h2>{{ title }}</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngFor="let field of fields" class="input-container">
        <input
          [type]="field.type"
          [name]="field.name"
          placeholder=" "
          title="{{ field.placeholder }}"
          [(ngModel)]="formData[field.name]"
          required
        />
        <label [for]="field.name">{{ field.label }}</label>
      </div>
      <button type="submit">{{ buttonText }}</button>
    </form>
    <p *ngIf="mode === 'login'">
      Não tem uma conta? <a (click)="changeMode('register')">Criar conta</a>
    </p>
    <p *ngIf="mode === 'login'">
      Esqueceu a senha? <a (click)="changeMode('forgot-password')">Recuperar senha</a>
    </p>
    <p *ngIf="mode === 'register'">
      Já tem uma conta? <a (click)="changeMode('login')">Fazer login</a>
    </p>
  </div>  
</div>
<app-footer></app-footer>