* {
    font-family: var(--Quicksand-font);
}

.auth-component {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em 1em;
    border-radius: 1em;
    height: 85%;
    min-width: 20em;
}

.auth-form h2 {
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.auth-form .input-container {
    position: relative;
    margin-bottom: 1em;
    width: 15em;
}

.auth-form input {
    padding: 0.5em;
    font-size: 100%;
    width: 100%;
    height: 3em;
    border: 1px solid var(--light-gray-color);
    border-radius: 0.5em;
    outline: none;
}

.auth-form label {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    background-color: var(--white-color);
    padding: 0 0.2em;
    transition: 0.3s;
    color: var(--grey-color);
    pointer-events: none;
}

.auth-form input:focus + label,
.auth-form input:not(:placeholder-shown) + label {
    top: -0.5em;
    left: 0.5em;
    font-size: 0.8em;
    color: var(--main-color);
}

.auth-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
}

.auth-form button {
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    padding: 0.3em;
}

.auth-form button:hover {
    cursor: pointer;
}

.auth-form button:active {
    background-color: var(--white-color);
    color: var(--main-color);
}

.auth-form a {
    color: var(--main-color);
    font-weight: bold;
}

@media (max-width: 768px) {
    .auth-form {
        padding: 1em;
    }
    .auth-form .input-container {
        width: 100%;
    }
}