<div class="search-container">
  <input type="text" placeholder="Região" [(ngModel)]="region">
  <input type="text" placeholder="Estado" [(ngModel)]="state">
  <input type="text" placeholder="Cidade" [(ngModel)]="city">
  <button (click)="onSearch()">Buscar</button>
  <p *ngIf="showWarning" class="warning-message">Por favor, preencha pelo menos o campo "Cidade".</p>
</div>

<div class="overlay" *ngIf="showOverlay">
  <div class="modal">
    <span class="close-button" (click)="closeModal()" (keydown)="closeModal()">&times;</span>
    <div class="modal-content">
      <div class="search-results" *ngIf="searchResults.length > 0">
        <div class="result-item" *ngFor="let result of searchResults">
          <div class="result-item-text">
            <h3>{{ result.nome }}</h3>
            <p>População: {{ result.populacao }}</p>
          </div>
          <button (click)="viewDetails(result.id)">Ver Detalhes</button>
        </div>
      </div>
      <p *ngIf="searchResults.length === 0">Nenhum resultado encontrado.</p>
    </div>
  </div>
</div>